.pathfinder {
  text-align: center;
  width: 600px;
  margin: 100px auto;
}

.gridBuildOptions {
  margin: 10px 10px 15px;
}

.gridBuildOptions input[type="radio"] {
  width: 0;
  margin: 0;
  padding: 0;
}

.gridBuildOptions label {
  border: 1px solid #bbb;
  border-right-style: none;
  padding: 4px 15px 5px;
}

.gridBuildOptions label:last-child {
  border: 1px solid #bbb;
}

.runControls {
  margin: 10px;
}

.runControls select {
  margin-right: 20px;
}

.runControls button {
  display: inline-block;
  height: 1.6em;
  width: 80px;
  margin: 0 5px;
}

.userMessage {
  margin: 10px;
  color: #000;
  height: 1.4em;
}
